<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<!--[if lt IE 9]>
<script type="text/javascript" src="/lib/html5shiv.js"></script>
<script type="text/javascript" src="/lib/respond.min.js"></script>
<![endif]-->
<link rel="stylesheet" type="text/css" href="/static/h-ui/css/H-ui.min.css" />
<link rel="stylesheet" type="text/css" href="/static/h-ui.admin/css/H-ui.admin.css" />
<link rel="stylesheet" type="text/css" href="/lib/Hui-iconfont/1.0.8/iconfont.css" />
<link rel="stylesheet" type="text/css" href="/static/h-ui.admin/skin/default/skin.css" id="skin" />
<link rel="stylesheet" type="text/css" href="/static/h-ui.admin/css/style.css" />
<!--[if IE 6]>
<script type="text/javascript" src="/lib/DD_belatedPNG_0.0.8a-min.js" ></script>
<script>DD_belatedPNG.fix('*');</script>
	<![endif]-->
<title>[[${title}]]</title>
<style type="text/css">
	#container {
		width: 100%;
		height: 45rem;
	}
	.info{
		width:26rem;
	}
</style>
</head>
<body>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> [[${title}]] <span class="c-gray en">&gt;</span> 车辆列表 <a class="btn btn-success btn-refresh radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="page-container">
	<div class="text-c">
		<form action="/cars/position/" autocomplete="off" method="post">
			<button onclick="removeIframe()" class="btn btn-primary radius">关闭选项卡</button>
			<input type="text" name="carId" id="carId" placeholder=" 车牌号 " th:value="${data.carId}" style="width:250px" class="input-text">
			<button name="" id="search" class="btn btn-success" type="submit"><i class="Hui-iconfont">&#xe665;</i> 搜车辆 </button>
		</form>
	</div>
	<!--<div class="cl pd-5 bg-1 bk-gray mt-20">
		<span class="l">
			<a href="javascript: void(0);" onclick="datadel()" class="btn btn-danger radius"><i class="Hui-iconfont">&#xe6e2;</i> 批量删除</a>
			<a class="btn btn-primary radius" data-title="添加车辆" data-href="/cars/add" onclick="article_add($(this).data('title'),$(this).data('href'))" href="javascript:;"><i class="Hui-iconfont">&#xe600;</i> 添加车辆</a>
		</span>
		<span class="r">共有数据：<strong>[[${count}]]</strong> 条</span>
	</div>-->
	<div class="mt-20">
		<div id="container"></div>
	</div>
</div>
<!--_footer 作为公共模版分离出去-->
<script type="text/javascript" src="/lib/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="/lib/layer/2.4/layer.js"></script>
<script type="text/javascript" src="/static/h-ui/js/H-ui.min.js"></script>
<script type="text/javascript" src="/static/h-ui.admin/js/H-ui.admin.js"></script> <!--/_footer 作为公共模版分离出去-->

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="/lib/laypage/1.2/laypage.js"></script>
<script type="text/javascript" src="https://webapi.amap.com/maps?v=1.4.15&key=f52c8718520bac7e44db8010b3f8419e"></script>
<script type="text/javascript">

	var map = new AMap.Map('container',{
		resizeEnable: true, //是否监控地图容器尺寸变化
	});



	$(function () {
		getLocations();
		setInterval('getLocations()',3000);//轮询执行，500ms一次
	})

	var markerList = [];

	function getLocations() {
		map.remove(markerList);
		markerList = [];
		$.ajax({
			url:'/cars/position/getCars',
			type:'post',
			async:false,
			dataType:'json',
			success:function (res) {
				$.each(res,function (index,value) {
					/*var icon = new AMap.Icon({
						size: new AMap.Size(40, 50),    // 图标尺寸
						image: '/img/car.png',  // Icon的图像
						imageOffset: new AMap.Pixel(0, -60),  // 图像相对展示区域的偏移量，适于雪碧图等
						imageSize: new AMap.Size(40, 50)   // 根据所设置的大小拉伸或压缩图片
					});*/
					// 创建一个 Marker 实例：
					var marker = new AMap.Marker({
						position: new AMap.LngLat(value.longitude, value.latitude),   // 经纬度对象，也可以是经纬度构成的一维数组[116.39, 39.9]
						title: value.carId,
						offset: new AMap.Pixel(-10, -10),
						icon: '/img/car.png', // 添加 Icon 图标 URL
						zoom:13
					});
					markerList.push(marker);
				})
			}
		})
		// 将创建的点标记添加到已有的地图实例：
		map.add(markerList);
	}
</script>
</body>
</html>